/******************************
Font Imports
*******************************/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import "variables.scss";
body{
  height:100vh;
  width: 100%;
}
h1{
  font-size: $titles;
}
h2{
  font-size: 27px;
}
header{
  width: 100%;
  img{
    max-width:200px;
    max-height: 150px;
  }
  .menu{
    margin-top: -85px;
    a{
      padding-left: 20px;
      color: $primary;
    }
    a:hover{
      color:$primaryDark;
    }
  }
}
a{
  text-decoration: none;
}
/******************************
Title
*******************************/

.title{
  font-size: $titles;
  font-family: 'Montserrat';
  font-weight: 600;
  margin-bottom: 80px;


}
.info p{
  font-size: $normalText;
  margin-top: 60px;
  width:700px;
}
@media(max-width: 680px){
  .info{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .info p{
    width:320px;
    text-align: justify;

  }
  
}
.profilepic{
  align-self: center;
  width: 300px;
  height: 250px;
}
.btn.home{
  margin-top: 80px;
  margin-bottom: 80px;
  width: 236.02px;
  height: 69.5px;
  transition: .2s;
}




/******************************
Button styles
*******************************/
.btn{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background:$primary;
  color:white;
  border-radius: 15px;
  z-index: 1;

  margin-bottom: 40px;
  width: 236.02px;
  height: 69.5px;
  transition: .2s;
  cursor: pointer;
}
.btn:hover{
  background: $primaryDark;
}
.btn a{
  font-family:'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
  border-radius: 15px;
}
.btn.secondary{
  background:white;
  color:$primary;
  border:1px solid $primary;
}
.center{
  width: 20%;
  margin-left: 40%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
.btn.small{
  font-size: $normalText;
  width:250px;
  height:50px;
}
/******************************
Cards projetos
*******************************/
.cardcont{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;


  align-items: center;
}
.card{
  cursor: pointer;
  width: 300px;
  margin-bottom: 80px;

}
.cardrow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 60px;
  width: 100%;
  height: 200px;
}
.card img{
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
@media (max-width:800px){
  .cardrow{
    flex-direction: column;
  }
  .cardcont{
    flex-direction: column;
  }
}

/******************************
Sobre
*******************************/
.sobre{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 600px;
    text-align: justify;
  h1{
    font-size:$titles;
  }
  h2{
    font-size: $normalText;
  }
  p{
    font-size: $normalText;

  }
  img{
    width:200px;
  }
}
.btn{
  width:250px;
   height:50px;
   font-size:$normalText;
}
@media (max-width: 600px){
  .sobre{
    flex-direction: column;
    align-items:center;
    width:300px;
  img{
    width:180px;
  }
}
}

/******************************
Contato
*******************************/

.links{
  margin-bottom: 70px;
  margin-top: 90px;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items:center;
  img{
    border-radius:40px;
    width:150px;
    height: 150px;
  }
}
.links.otherways{
  width: 50%;
  flex-direction: row;
  justify-content: space-around;
  span{
    display: flex;
    align-items:center;
    font-size: 18px;
  }
  img{
    width:30px;
    height: 24px;
  }
}
@media (max-width:750px){
  .links{
    flex-direction: column;
    img{
      margin-bottom: $spacing;
      width: 150px;
      height: 150px;
    }
  }
  .links.otherways{
  flex-direction: column;
  justify-content: space-around;
  span{
    font-size: 18px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
  }
}
}
/******************************
Image projetos singlepage
*******************************/
.single{
  
  p{
    font-weight: 400;
    font-size: 19px;
  }
  .pimage{
    width:100%;
    .projimg{
      width: 100%;
      height: 100%;
    }
  }
}


/******************************
Calculator
*******************************/
.calcCont{
  align-content: center;
}

.propertiesCont{
  align-items: center;
}
.changeProperties{
  display: flex;
  flex-direction: column;
  .input{
    margin-bottom: 10px;
    display: flex;
    width:300px;
    align-items: center;
    border:1px solid $primary;
    border-radius: 10px;
    padding: 10px;


    input[type="checkbox"]{
      width: 30px;
      height: 30px;
      cursor: pointer;
     

    }
    label{
      cursor: pointer;
      color:$primary;
      font-size: 18px;
      font-weight: 600;
      padding: 10px;

      border-radius: 10px;
    }
  }
  
}


.calculator{
    border:1px solid darkgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 300px;
}
.calculator.true{
  font-size: 20px;
}

.calcTitle{
  font-weight: 400;
}
.calcTitle.true{
  font-weight: 600;
}
.input.true{
  input{
    outline: none;
    width: 260px;
    transition: .4s;
    border:none;
    border-radius: 15px;
    background:lightgrey;
    padding: 10px;
  } 
}
.btncontainer.true{
  width:260px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  input[type="submit"]{
    outline: none;
      transition:.2s;
      border-radius: 15px;
      border: 1px solid black;
      padding: 10px;
      width: 130px;
      margin:5px;
      color: white;
  }
  .delete{
    input[type="reset"]{
      padding: 10px;
      outline: none;
      transition:.2s;
      border-radius: 15px;
      border: 1px solid black;
      background: $primary;

      padding: 10px;
      width: 270px;
      margin:5px;
      color:white;
    }
  }
  div{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    input[type="button"]{
      outline: none;
      transition:.2s;
      border-radius: 15px;
      border: 1px solid black;

      padding: 10px;
      width: 60px;
      margin:5px;
      background:$primary;
      color: white;
      
      &:hover{
        background:$primaryDark;
        color:white;
      }
      &:active{
        border:none;
      }
    }
    input[type='button'].operation,input[type='submit'].operation{
      background:rgb(255, 173, 22);
      color:black;

    }
  }
}
@media(max-width: 680px){
  .calcCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .changeProperties{
    display: flex;
    flex-direction: column;
    .input{
      margin-bottom: 10px;
      display: flex;
      width:350px;
      align-items: center;
      border:1px solid $primary;
      border-radius: 10px;
      padding: 10px;
    }
  }
}

/******************************
Footer
*******************************/
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:72px;
  color: $primaryDark;
  width:100%;
  
  span{
    margin:-5px;
  }
}

// abilities
.abilityContainer{
  display:flex;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width:800px){
  .abilityContainer{
    display:flex;
    flex-direction: column;
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
  }
}